@media only screen and (max-width: 436px) {
  text-adjust{
    padding: 0 50px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 500px) {
  card{
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 1288px) {
  .box-cont{
    display: flex;
    flex-direction: column;
  
  }
}